@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  header, nav, main, footer { 
    max-width: 1200px;
}
  article p.town-article img { width: 29.333%; }
  
}

.images {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    padding: 25px;
    margin: auto;
}